{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    	<form method="POST" action="{{ url_for('bmi') }}">
    		{{ form.hidden_tag() }}
    		<fieldset class="form-group">
    			<div class="form-group">
    				{{ form.height_ft.label(class="form-control-label") }}

    				{% if form.height_ft.errors %}
    					{{ form.height_ft(class="form-control form-control-lg is-invalid") }}
    					<div class="invalid-feedback">
    						{% for error in form.height_ft.errors %}
    							<span>{{ error }}</span>
    						{% endfor %}
    					</div>
    				{% else %}
    					{{ form.height_ft(class="form-control form-control-lg") }}
    				{% endif %}

    			</div>
    			<div class="form-group">
    				{{ form.height_in.label(class="form-control-label") }}

    				{% if form.height_in.errors %}
    					{{ form.height_in(class="form-control form-control-lg is-invalid") }}
    					<div class="invalid-feedback">
    						{% for error in form.height_in.errors %}
    							<span>{{ error }}</span>
    						{% endfor %}
    					</div>
    				{% else %}
    					{{ form.height_in(class="form-control form-control-lg") }}
    				{% endif %}
    			</div>
    			<div class="form-group">
    				{{ form.weight.label(class="form-control-label") }}

    				{% if form.weight.errors %}
    					{{ form.weight(class="form-control form-control-lg is-invalid") }}
    					<div class="invalid-feedback">
    						{% for error in form.weight.errors %}
    							<span>{{ error }}</span>
    						{% endfor %}
    					</div>
    				{% else %}
    					{{ form.weight(class="form-control form-control-lg") }}
    				{% endif %}
    			</div>
    		</fieldset>
    		<div class="form-group">
    			{{ form.submit(class="btn btn-outline-info") }}
    		</div>
    	</form>
    </div>
{% endblock content %}